</br></br>
<h3> This is a practice webiste to maintain the log of our friends </h3>
</br>
<h5> We can add new friends </h5>
<h5> We can remove the logged friend </h5>
<h5> We can see the details of the logged friends </h5>